<li id="widget_<%= widget.id %>" class="widget<%= " error" unless widget.valid? %>">
  <%= link_to_remote t('ubiquo.design.widget_removal'),
                     :url => ubiquo_page_design_widget_path(@page, widget),
                     :method => :delete, 
                     :confirm => t('ubiquo.design.confirm_widget_removal'),
                     :html => {:class => "delete"} %>
  <a href="#" class="move" onclick="return false;"><%= t('ubiquo.design.widget_move') %></a>
  <% if widget.is_configurable? %>
    <%= uhook_link_to_edit_widget(widget) %>
  <% end %>
  <div class="wrap">
    <h4 id="widget_name_field_<%= widget.id %>"><%= widget.name %></h4>
    <% javascript_tag do %>
    new Ajax.InPlaceEditor(
    "widget_name_field_<%= widget.id %>",
    "<%= change_name_ubiquo_page_design_widget_path(@page, widget) %>",
    {
      savingText:"<%= t('ubiquo.design.widget_saving')%>",
      okText:"<%= t('ubiquo.design.widget_save') %>",
      cancelText: "<%= t('ubiquo.design.widget_cancel') %>",
      clickToEditText: "<%= t('ubiquo.design.widget_click_to_edit') %>",
      loadingText:"<%= t('ubiquo.design.widget_click_to_edit') %>",
      callback: function(form, value) {
      return 'authenticity_token=' + encodeURIComponent('<%= Rails.env.test? ? "" : form_authenticity_token %>') + '&' + Form.serialize(form);
    },
    }
    );
    <% end %>
  </div>			
</li>
