<%= error_messages_for 'static_page' %>

<div class="form_box">
  <h3><%= t("ubiquo.design.static_pages.page_info") %></h3>
  <p>
    <%= form.label :name, Page.human_attribute_name("name") %> 
    <%= form.text_field :name %>
  </p>
  <fieldset>
    <legend><%= t('ubiquo.design.situation') %></legend>
    <p>
      <%= form.label :parent_id, Page.human_attribute_name("parent_id") %>
      <%= form.select :parent_id, parent_pages_for_select(@pages, @static_page.parent) %>
    </p>
    <p>
      <%= form.label :url_name, Page.human_attribute_name("url_name") %>
      <%= form.text_field :url_name %>
      <%= t("ubiquo.design.page_url_example") %>
      <span id="url_example">http://www.ubiquo.me/<%= @static_page.url_name %></span>
    </p>
  </fieldset>
  <% if @static_page.new_record? %>
    <fieldset>
      <legend><%= t('ubiquo.design.page_template') %></legend>
      <ul class="page_templates">
	<% @page_templates.each do |template_key| %>
          <li>
	    <%= form.radio_button(:page_template, template_key) %>
	    <%= form.label "page_template_#{template_key}", template_key %>
	    <%# image_tag(template.thumbnail.url, 
              #           :id => "page_template_#{template_key}",
	      #           :onclick => "$('page_' + this.id).click(); return false;") %>
          </li>		        
	<% end %>
      </ul>
    </fieldset>
  <% end %>
  <fieldset>
    <legend><%= t('ubiquo.design.metatags') %></legend>
    <p>
      <%= form.label :meta_title, Page.human_attribute_name("meta_title") %>
      <%= form.text_field :meta_title %>
    </p>
    <p>
      <%= form.label :meta_keywords, Page.human_attribute_name("meta_keywords") %>
      <%= form.text_field :meta_keywords %>
    </p>
    <p>
      <%= form.label :meta_description, Page.human_attribute_name("meta_description") %>
      <%= form.text_area :meta_description, :rows => 5 %>
    </p>
  </fieldset>
  <%= hidden_field_tag :publish_page, 'false' %>
</div>
<div class="form_box">
  <h3><%= t("ubiquo.design.static_pages.widget_info") %></h3>
  <% fields_for @widget do |widget_form| %>
    <p>
      <%= widget_form.label :title, t("ubiquo.widgets.static_section.title") %>
      <%= widget_form.text_field :title %>
    </p>
    <p>
      <%= widget_form.label :summary, t('ubiquo.widgets.static_section.summary') %>
      <%= widget_form.text_area :summary, :rows => 2, :class => 'visual_editor' %>
    </p>
    <p>
      <%= widget_form.label :body, t('ubiquo.widgets.static_section.body') %>
      <%= widget_form.text_area :body, :rows => 30, :class => 'visual_editor' %>
    </p>
    <% if widget_form.object.respond_to?(:image) %>
    <p>
      <%= widget_form.label :image, t('ubiquo.widgets.static_section.image') %>
      <%= media_selector widget_form, :image %>
    </p>
    <% end %>
    <% if widget_form.object.respond_to?(:docs) %>
    <p>
      <%= widget_form.label :docs, t('ubiquo.widgets.static_section.docs') %>
      <%= media_selector widget_form, :docs %>
    </p>
    <% end %>
  <% end %>

</div>
