<h1><%= render :partial => 'title' %></h1>
<h2><%= render :partial => "submenu" %></h2>
<%= render(:partial => "shared/ubiquo/feedback") %>

<% form_for @static_page, :url => ubiquo_static_pages_path do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p class="form_buttons">
    <input type="button" id="save_publish" value="<%= t('ubiquo.design.static_pages.create_and_publish')%>" />
    <%= form.submit t('ubiquo.create') %>
    <input type="button" value="<%= t('ubiquo.back_to_index') %>" onclick="document.location.href='<%= ubiquo_static_pages_path %>'" />
  </p>
<% end %>

<% content_for :sidebar do %>
  <%= help_block_sidebar(t("ubiquo.helpmsg.design.static_page.new")) %>
<% end %>
