<%= error_messages_for 'page_category' %>
<div class="form_box">
	<p>
		<%= form.label :name, PageCategory.human_attribute_name("name") %> 
		<%= form.text_field :name %>
	</p>
	<p>
		<%= form.label :url_name, PageCategory.human_attribute_name("url_name") %> 
		<%= form.text_field :url_name %>
	</p>
</div>
