<h1><%= render :partial => 'title' %></h1>
<h2>
	<%= render :partial => 'submenu' %>
</h2>
<%= render :partial => "shared/ubiquo/feedback" %>

<%= link_to t('ubiquo.design.page_category_new'), new_ubiquo_page_category_path, :class => "new" %>

<%= render(:partial => "shared/ubiquo/lists/standard", :locals=>{
      :name=>'page_category',
      :headers=>[:name, :url_name],
      :rows=>@page_categories.collect{|page_category| 
        {
          :id=>page_category.id, 
          :columns=>[            
						  page_category.name,						
						  page_category.url_name.blank? ? t('ubiquo.design.no_name') : page_category.url_name,						
          ],
          :actions=>[
            link_to(t('ubiquo.edit'), [:edit, :ubiquo, page_category]),
            link_to(t('ubiquo.remove'), [:ubiquo, page_category], :confirm => t('ubiquo.design.confirm_page_category_removal'), :method => :delete)
          ]
        }
      },
      :pages=>@page_categories_pages
    }      
) %>

<% content_for :sidebar do %>
  <%= help_block_sidebar(t("ubiquo.helpmsg.design.pagecategories.index")) %>
<% end %>
