<h1><%= render :partial => 'title' %></h1>
<h2>
  <%= render :partial => "submenu" %>
</h2>
<%= render(:partial => "shared/ubiquo/feedback") %>

<% form_for([:ubiquo, @page_category]) do |form| %>
	<%= render :partial => 'form', :locals => {:form => form} %>
	  <p class="form_buttons">
	    <%= form.submit t('ubiquo.create') %>
			<%= button_to_function t('ubiquo.back_to_list'), "document.location.href='#{ubiquo_page_categories_path}'" %>
	  </p>
<% end %>

<% content_for :sidebar do %>
  <%= help_block_sidebar(t("ubiquo.helpmsg.design.pagecategories.new")) %>
<% end %>
