<%%= component_header component %>
<%% component_form(page, component) do |f| %>
<% attributes.each do |attribute| -%>
  <p>
    <%%= f.label :<%= attribute.name %>, <%= class_name %>.human_attribute_name('<%= attribute.name.to_s %>') %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
<% end -%>
  <%%= component_submit %>
<%% end %>
