<%= error_messages_for 'page' %>
<div class="form_box">
  <%= uhook_form_top f %>
  <h3>Informació de la pàgina</h3>
  <p>
    <%= f.label :name, Page.human_attribute_name("name") %> 
    <%= f.text_field :name %>
  </p>
  <fieldset>
    <legend><%= t('ubiquo.design.situation') %></legend>
    <p>
      <%= f.label :parent_id, Page.human_attribute_name("parent_id") %>
      <%= f.select :parent_id, parent_pages_for_select(@pages, @page.parent) %>
    </p>
    <p>
      <%= f.label :url_name, Page.human_attribute_name("url_name") %>
      <%= f.text_field :url_name %>
      <%= t("ubiquo.design.page_url_example") %>
      <span id="url_example">http://www.ubiquo.me/<%= @page.url_name %></span>
    </p>
  </fieldset>
  <% if f.object.new_record? %>
    <fieldset>
      <legend><%= t('ubiquo.design.page_template') %></legend>
      <ul class="page_templates">
	<% @page_templates.each do |template_key| %>
          <li>
	    <%= f.radio_button(:page_template, template_key) %>
	    <%= f.label "page_template_#{template_key}", template_key %>
	    <%# image_tag(template.thumbnail.url, 
              #           :id => "page_template_#{template_key}",
	      #           :onclick => "$('page_' + this.id).click(); return false;") %>
          </li>		        
	<% end %>
      </ul>
    </fieldset>
  <% end %>
</div>
<div class="form_box">
  <h3><%= t('ubiquo.design.metatags') %></h3>
  <p>
    <%= f.label :meta_title, Page.human_attribute_name("meta_title") %>
    <%= f.text_field :meta_title %>
  </p>
  <p>
    <%= f.label :meta_keywords, Page.human_attribute_name("meta_keywords") %>
    <%= f.text_field :meta_keywords %>
  </p>
  <p>
    <%= f.label :meta_description, Page.human_attribute_name("meta_description") %>
    <%= f.text_area :meta_description, :rows => 5 %>
  </p>
</div>
