<h1><%= render :partial => 'title' %></h1>
<h2><%= render :partial => 'submenu' %></h2>
<%= render :partial => "shared/ubiquo/feedback" %>

<%= pages_filters_info(params) %>
<%= pages_list(@pages, @pages_pages) %>

<% content_for :sidebar do %>
  <%= pages_filters %>
  <%= help_block_sidebar(t("ubiquo.helpmsg.design.page.index")) %>
<% end %>
