<h4>
  <%= page.name %>
  <% if page.published? && page.published.is_linkable? %>
    <%= link_to_page("[%s]" % t('ubiquo.design.open'), page, {}, :popup => true) %>
  <% end %>
</h4>
<% 
  is_published, page_status = case 
    when page.published? && !page.is_modified?
      [true, t('ubiquo.design.published')]
    when page.published? && page.is_modified?
      [false, t('ubiquo.design.pending_publish')]
    else
      [false, t('ubiquo.design.non_published')]  
  end       
%>
<p class="<%= is_published ? 'published_page' : 'non_published_page' %>">
    <%= page_status %>
    <% if page.is_previewable? %>
      <%= link_to "[%s]" % t('ubiquo.design.preview'),
                  preview_ubiquo_page_design_path(page), :popup => true %>
    <% end %>
</p>

<% unless is_published %>
    <%= button_to t('ubiquo.design.publish'), publish_ubiquo_page_design_path(page), :method => :put %>
<% end %>
