<h1><%= render :partial => 'title' %></h1>
<h2><%= render :partial => 'submenu' %></h2>
<%= render :partial => "shared/ubiquo/feedback" %>
<div id="template"><%= @template_content %></div>

<% content_for :sidebar do %>
<div class="sidebar_box">
  <div class="sidebar_title"><h3><%= t('ubiquo.design.page_info') %></h3></div>
  <div id="page_info">
    <%= render :partial => 'pageinfo_sidebar', :locals => { :page => @page } %>
  </div>
</div>
<div class="sidebar_box">
  <div class="sidebar_title">
    <h3><%= t('ubiquo.design.avaliable_components') %></h3>
  </div>
  <ul>
    <%= render :partial => "component_sidebar", :collection => @widgets %>
  </ul>
</div>
<% end %>
